:root{
   --card-width: 160px;
   --card-height: 220px;

   --num-cards: 4;

   --card-horizontal-space: 100px;
}

body{

    height: 100vh;

}
main{
    height: 55%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
header{
    text-align: center;
}

/*---CARD FLIP CSS---*/


.card{
    position: absolute;
    height: var(--card-height);
    width: var(--card-width);
    perspective: 1000px;
    cursor: pointer;

}
.card-inner{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card-front,.card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-img{
    height: 100%;
}
.card-back{
    transform: rotateY(180deg);
}
.card:hover .card-inner{
    transform: rotateY(180deg);
}

/*---GRID LAYOUT---*/
.card-container {
    
    position: relative;
    height:100%;
    width:calc(var(--card-width) * (var(--num-cards) / 2) + var(--card-horizontal-space));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b"
                         "c d";
  
  border: 2px solid black;
}
.card-pos-a{
    grid-area: a;
    background-color: gray;
    border: 2px solid black;
}
.card-pos-b{
    grid-area: b;
    background-color: goldenrod;
    border: 2px solid black;
}
.card-pos-c{
    grid-area: c;
     background-color: rosybrown; 
     border: 2px solid black;
}
.card-pos-d{
    grid-area: d;
    background-color: darkcyan;
    border: 2px solid black;
}
